{% extends 'base.html.twig' %}

{% block title %}Access Error{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-body">
            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading">Access denied error</h4>
                <p>You cannot access this page due to security restrictions</p>
                <hr>
                <p class="mb-0">Thank you for using our product.</p>
            </div>
        </div>
    </div>
{% endblock %}